/* Sidebar Styles */
.sidebar {
    max-height: calc(100vh - 50px); /* Adjust based on the height of the top navigation */
    width: 200px;
    position: fixed;
    top: 50px; /* Adjust based on the height of the top navigation */
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px; /* Smaller font size to fit all items */
    overflow-y: auto; /* Enable vertical scrollbar */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px; /* Smaller font size to match the sidebar */
    color: #333;
    display: block;
    flex-shrink: 0;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}
